{% load static %}
<!DOCTYPE html>
<!---THIS ONE-->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Solar Power Management</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href={% static 'webapp/materialize.css' %} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href={% static 'webapp/style.css' %} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body bgcolor = "#B3E5FC">
  <div class = "navbar-fixed">
  <nav class="light-blue accent-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo center">
      <span class = "grey-text text-darken-3">
      Solar Energy Management</a></span>
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="index"><img class = "responsive-img" src={% static 'webapp/images/nl2.png' %} width = "50" height = "50"></a>
          </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="index">
              <script type="text/javascript">
                
                tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

                function GetClock(){
                var d=new Date();
                var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
                if(nyear<1000) nyear+=1900;
                var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

                if(nhour==0){ap=" AM";nhour=12;}
                else if(nhour<12){ap=" AM";}
                else if(nhour==12){ap=" PM";}
                else if(nhour>12){ap=" PM";nhour-=12;}

                if(nmin<=9) nmin="0"+nmin;
                if(nsec<=9) nsec="0"+nsec;

                document.getElementById('clockbox').innerHTML=""+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
                }

                window.onload=function(){
                GetClock();
                setInterval(GetClock,1000);
                }
                </script>
                <div id="clockbox"></div>


          </a>
          </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"><img class = "responsive-img" src={% static 'webapp/images/sol0.png' %}></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>
<div class = "container">
   <div class="row">

      
      <div class = "col s12"><br></div>
      <div class = "col s12">
        
      </div>
      <div class = "col s12">
      <center>
      <img class = "responsive-img" src={% static 'webapp/images/Landing.png' %}  >
       </center>
        <br></div>
        <div class = "col s4">
        </div>
        <div class = "col s4">
      
          <div class="cardlight-blue lighten-4">
            <div class="card-content black-text">
              
                          <div class="row">
                <div class="input-field col s12">
                  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
            </div>
            
          </div>
     
      </div>
 
  </div>
</div>
      
<br>
<br>


</div>   

 



  <!--  Scripts-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
   $(document).ready(function () {
       $('.slider').slider({full_width: true});
   });
    
</script>
<script>
     $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
         
</script>
  <script src={% static 'js/materialize.js' %}></script>
  <script src={% static 'js/init.js' %}></script>
  </body>
</html>
